:root {
  --warna-bg: rgba(253, 235, 237, 1);
  --warna-kuning-halaman-service: rgba(251, 188, 5, 1);
  --warna-pink-soft-halamn-menu: rgba(228, 167, 175, 1);
  --warna-hijau-soft-halaman-menu: rgba(149, 195, 176, 1);
  --warna-tulisan-button: rgba(233, 30, 99, 1);
  --warna-kuning-tua-btn-service: rgba(138, 105, 11, 1);
}
